.buttons {
  display: flex;
  justify-content: space-around;
  border: 1px solid #70e4fb;
  width: 150px;
  height: 30px;
  margin: 0 auto;
}
.buttons button {
  width: 55px;
  background-color: #70e4fb;
  border-color: aqua;
  border-style: outset;

}
.App {
  margin-left: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.main {
  text-align: center;
  width: 180px;
  height: 140px;
  border: 1px solid #70e4fb;
  
}
.numBlock {
  border: 1px solid #70e4fb;
  width: 150px;
  height: 90px;
  margin: 5px auto;
}
.button {
  background-color: #70e4fb;
  border-color: aqua;
  border-style: outset;
}
.message {
  display: flex;
  justify-content: center;
}
.telegram {
  background-color: #689bca;
  width: 300px;
  height: 500px;
  padding: 10px;
  margin-left: 20px;
}
.wrapper { 
  text-align: center;
  align-items: center;
}
